@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0C0C0F;
  color: #FFFFFF;
  overscroll-behavior: none; /* Отключает "резиновый" скролл страницы */
}

/* Утилита для скрытия скроллбара, но сохранения функционала скролла */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Базовые инпуты */
input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
