/* Файл: styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Общие стили для фона Telegram Mini App */
body {
  /* Используем цвета, предоставляемые Telegram SDK */
  background-color: var(--tg-theme-bg-color, #f4f4f5); 
  color: var(--tg-theme-text-color, #18181b); 
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh; /* Важно для Web App */
}